<link rel="icon" href="{{site.baseurl}}/favicon.ico" sizes="any">
<link rel="icon" href="{{site.baseurl}}/favicon.svg" type="image/svg+xml">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VEQJ8PBLCD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VEQJ8PBLCD', { 'anonymize_ip': true, cookie_flags: 'SameSite=None;Secure' });
</script>